<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TJ ICT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="style.css"> 
</head>
<body>
<header id="header">
	<div class="inner">
		<a href="home" class="logo"><strong>Intermediate Computer Team</strong></a>
		<nav id="nav">
			<a href="home">Home</a>
			<a href="resources">Resources</a>
			<a href="https://www.tjctgrader.org">Grader</a>
			<a href="https://www.facebook.com/groups/tjhsstict">Facebook</a>
			<a href="gallery">Gallery</a>
		</nav>
		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>

<section id="banner">
	<div class="inner">
		<header>
			<h1>Welcome to ICT</h1>
		</header>

		<div class="flex ">
			<div>
				<span class="icon fa-car"></span>
				<h3>When</h3>
				<p>Eighth periods are friday B block</p>
			</div>

			<div>
				<span class="icon fa-camera"></span>
				<h3>Where</h3>
				<p>Check Ion</p>
			</div>

			<div>
				<span class="icon fa-bug"></span>
				<h3>Why</h3>
				<p>Improve skills and get fat from cookies</p>
			</div>
		</div>

		<footer>
			<a href="https://www.tjctgrader.org" class="button">In-house contests and attendance</a>
		</footer>
	</div>
</section>

<section id="three" class="wrapper align-center">
	<div class="inner">
		<div class="flex flex-2">
			<article>
				<div class="image round">
					<img src="assets/images/pic01.jpg" alt="Pic 01" />
				</div>
				<header>
					<h3>Intro to<br /> our club</h3>
				</header>
				<p>ICT is a cool club geared towards competitive programming.<br />During eight periods we have lectures, activities, and contests, such as ACSL.<br />
					Do contests such as codeforces and USACO, get better by looking at the resources section.
				</p>
				<footer>
					<a href="https://docs.google.com/spreadsheets/d/1J9kYJMqueF2EmppwJQLi5r6pdu8MB8ZBJmRplh1zXxY/edit?usp=sharing" class="button">Eigth period schedule</a>
				</footer>
			</article>
			<article>
				<div class="image round">
					<img src="assets/images/pic02.jpg" alt="Pic 02" />
				</div>
				<header>
					<h3>Learn about<br /> travel competitions</h3>
				</header>
				<p>We do<br />in-house contests, which combined with codeforces and USACO performance,<br />decides who goes to travel competitions</p>
				<footer>
					<a href="https://docs.google.com/document/d/1WTDflYyvEfOu_SqD4JCCLIc1sGOUQR4csXpeqPxLXzg/edit?usp=sharing" class="button">Learn More about in-houses</a>
				</footer>
			</article>
		</div>
	</div>
</section>

<section id="four" class = "wrapper align-center">
	<div class="inner">
	<div class="flex">
	<article>
		<div style="font-family:RobotoBlack; font-size:200%;text-align:center"><h1>
			American Computer Science League FAQ's
		</h1></div>
		<div class = "bold">What?</div>
		<p>The American Computer Science League is a four part
			competition.
			Competitions are held at TJHSST Computer Team over a period
			of months.
			There are a total of 40 possible points.  5 points are awarded
			for a paper test section.  5 points are awarded for a computer program section.
		</p>
		<div class = "bold">When?</div>
		<p>ICT holds competitions on Friday B Blocks during 8th periods.  For more information, visit the ACSL website at
			<a href="https://www.acsl.org">acsl.org</a>
		</p>
		<div class = "bold">Where?</div>
		<p>During lectures we usually meet in the Curie Commons.  Competitions, specified by the 8th period name, will 
		usually be held in Ms.Kim's and Mr.Rose's rooms.</p>
		<div class = "bold">Preparation?</div>
		<p>We strongly recommend that you attend our weekly computer team 8th periods for informative lectures.  The 
	officers put a lot of time into lecture problems and materials, and seeing you there makes their job all the more worth it.</p>
	</article>
	</div>
	</div>
</section>

<footer id="footer">
	<div class="inner">
		<h3>Get in touch</h3>
		<p>Email tjhsstictcaptains@gmail.com or talk to an offficer (in person or through facebook) </p>
	</div>
</footer>

<div class="copyright">
	Website made by: <a href="https://codeforces.com/profile/GabrielXu">Gabriel Xu ('25)</a>,  <a href="https://codeforces.com/profile/ChiMasterBing">Johnny Liu ('24)</a>, and  <a href="https://codeforces.com/profile/DanielQiu">Daniel Qiu ('24)</a>
</div>
</body>
</html>