<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TJ ICT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="style.css"> 
</head>
<body>
<header id="header">
	<div class="inner">
		<a href="home" class="logo"><strong>Intermediate Computer Team</strong></a>
		<nav id="nav">
			<a href="home">Home</a>
			<a href="resources">Resources</a>
			<a href="https://www.tjctgrader.org">Grader</a>
			<a href="https://www.facebook.com/groups/tjhsstict">Facebook</a>
			<a href="gallery">Gallery</a>
		</nav>
		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>

<section id="banner">
	<div class="inner">
		<header>
			<h1>Welcome to ICT</h1>
		</header>
	</div>
</section>

<section>
<div class = "inner" >
	<br>
	<div style="font-family:RobotoBlack; font-size:200%;text-align:center">
		Lecture Resources
	</div>
	<br>
	<table class="flat-table" border="0" width="100%" style="font-family:RobotoThin; font-size:100%;text-align:center">
    <tbody>
        <tr class="flat-table">
          <td class="bold" class = "flat-table" width="20%">Date of Lecture</th>
          <td class="bold" class = "flat-table" width="40%">Description</th>
          <td class="bold" class = "flat-table" width="20%">Handout</th>
          <td class="bold" class = "flat-table" width="20%">Slides</th>
        </tr>
        <tr class = "flat-table">
          <td class = "flat-table" width="20%">09/08/2023</td>
          <td class = "flat-table" width="40%">Orientation</td>
          <td class = "flat-table" width="20%"><a href="https://drive.google.com/drive/folders/1aNbcjefGf8lncTSTRWeu356v25fkbgg_?usp=sharing">View</a></td>
          <td class = "flat-table" width="20%"><a href="https://drive.google.com/drive/folders/1aNbcjefGf8lncTSTRWeu356v25fkbgg_?usp=sharing">View</a></td>
        </tr>
    </tbody>
  </table>
</div>
</section>

<section>
  <div class="inner">
    <article>
      <div>
        <br><br>
        <h3>
          Other resources (probably better than us):
        </h3>
        <ul><a href="https://usaco.guide">USACO Guide</a></ul>
        <ul><a href="https://usaco.guide/CPH.pdf">Competitive Programmer's Handbook</a></ul>
      </div>
    </article>
  </div>
</section>

<footer id="footer">
	<div class="inner">
		<h3>Get in touch</h3>
		<p>Email tjhsstictcaptains@gmail.com or talk to an offficer (in person or through facebook) </p>
  </div>
</footer>

<div class="copyright">
	Website made by: <a href="https://codeforces.com/profile/GabrielXu">Gabriel Xu ('25)</a>,  <a href="https://codeforces.com/profile/ChiMasterBing">Johnny Liu ('24)</a>, and  <a href="https://codeforces.com/profile/DanielQiu">Daniel Qiu ('24)</a>
</div>
</body>
</html>