<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TJ ICT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="style.css"> 
</head>
<body>
<header id="header">
	<div class="inner">
		<a href="home" class="logo"><strong>Intermediate Computer Team</strong></a>
		<nav id="nav">
			<a href="home">Home</a>
			<a href="resources">Resources</a>
			<a href="https://www.tjctgrader.org">Grader</a>
			<a href="https://www.facebook.com/groups/tjhsstict">Facebook</a>
			<a href="gallery">Gallery</a>
		</nav>
		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>

<section id="banner">
	<div class="inner">
		<header>
			<h1>Welcome to ICT</h1>
		</header>
	</div>
</section>

<section>
<div class = "inner" >
	<br>
	<h3>cool photos will be here.</h3>
	<p>
		Captain: Samarth Bhargav<br>
		Co-Captains: Avnith Vijayram and Marina Lin<br>
		Webmaster: Gabriel Xu<br>
		Finance: Avni Garg<br>
		Secretary: Lalit Boyapati
	</p>
</div>
</section>

<footer id="footer">
	<div class="inner">
		<h3>Get In Touch</h3>
		<p>Email tjhsstictcaptains@gmail.com or talk to an offficer (in person or through facebook) </p>
	</div>
</footer>

<div class="copyright">
	Website made by: <a href="https://codeforces.com/profile/GabrielXu">Gabriel Xu ('25)</a>,  <a href="https://codeforces.com/profile/ChiMasterBing">Johnny Liu ('24)</a>, and  <a href="https://codeforces.com/profile/DanielQiu">Daniel Qiu ('24)</a>
</div>
</body>
</html>
