<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

<section id="banner">
	<div class="inner">
		<header>
			<h1>Welcome to ICT</h1>
		</header>
	</div>
</section>

<section>
<div class = "inner" >
	<br>
	<h4>Photos can be found in the public folders on the <a href="resources">resources</a> page</h4>
	
	<img src="assets/images/favicon.ico" alt="cow">
	<p>
	    2024-2025 Officers:<br>
		Captain: Olivia Wu<br>
        Co-Captains: Clinton Morimoto and Daniel Feng<br>
        Webmaster: Andrew Chen<br>
        Finance Officer: Lulu Huang
	</p>
</div>
</section>

<%- include('partials/footer') %>
</body>
</html>
