<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

<section id="banner">
	<div class="inner">
		<header>
			<h1>Welcome to ICT</h1>
		</header>

		<div class="flex ">
			<div>
				<span class="icon fa-car"></span>
				<h3>When</h3>
				<p>Eighth periods are Friday B block</p>
			</div>

			<div>
				<span class="icon fa-camera"></span>
				<h3>Where</h3>
				<p>Check Ion</p>
			</div>

			<div>
				<span class="icon fa-bug"></span>
				<h3>Why</h3>
				<p>Improve skills and get fat from cookies</p>
			</div>
		</div>

		<footer>
			<a href="https://www.tjctgrader.org" class="button" class="bold" target="_blank">In-house contests</a>
			<br>
			<br>
			<a href="https://www.facebook.com/groups/tjhsstict" class="button" target="_blank">Stay Updated</a>
		</footer>
	</div>
</section>

<section id="three" class="wrapper align-center">
	<div class="inner">
		<div class="flex flex-2">
			<article>
				<div class="image round">
					<img src="assets/images/pic01.jpg" alt="Pic 01" />
				</div>
				<header>
					<h3>Intro to<br /> our club</h3>
				</header>
				<p>ICT is a cool club geared towards competitive programming.<br />During eighth periods we have lectures, activities, and contests, such as ACSL.<br />
				    Attend to hone your skills (for both beginner and experienced programmers) and meet a community of like-minded people.
					<br/>Do contests such as <a href="https://codeforces.com/group/M4wsRWBHyZ/contests" target="_blank">Codeforces</a> and <a href="https://usaco.org" target="_blank">USACO</a>, and get better by looking at the <a href="resources">resources</a> section, which includes eighth period materials.<br/>
				</p>
				<footer>
					<a href="https://docs.google.com/spreadsheets/d/1H4DdJTlFXAZqA6W1yegPFmOJGctda-t4ZL-_mmLoxgY/edit?usp=sharing" class="button" target="_blank">Eigth period schedule (2024-2025)</a>
				</footer>
			</article>
			<article>
				<div class="image round">
					<img src="assets/images/pic02.jpg" alt="Pic 02" />
				</div>
				<header>
					<h3>Learn about<br /> travel competitions</h3>
				</header>
				<p>We have in-house competitions hosted on the grader during eighth periods, which combined with other heuristics, decides who goes to travel competitions.<br/>
				In-houses will hopefully provide good practice and possible rewards (cookies).<br/>
				Travel competitions are a great experience and we try to send as many people <br/>
				as possible. Make sure to check Facebook and your email to recieve <br/>
				important information regarding contests.
				</p>
				<footer>
					<a href="https://docs.google.com/document/d/14CBtom9g0AKZkmncUQQJwV-dIwG54Arr26FnWfUcdvI/edit?usp=sharing" class="button" target="_blank">Learn more about in-houses</a>
				</footer>
			</article>
		</div>
	</div>
</section>

<section id="four" class = "wrapper align-center">
	<div class="inner">
	<div class="flex">
	<article>
		<div style="font-family:RobotoBlack; font-size:200%;text-align:center"><h1>
			American Computer Science League FAQ's
		</h1></div>
		<div class = "bold">What?</div>
		<p>The American Computer Science League is a four part
			competition.
			Competitions are held at TJHSST Computer Team over a period
			of months.
			There are a total of 40 possible points.  5 points are awarded
			for a paper test section.  5 points are awarded for a computer program section.
			These contests serve as qualifiers for the Finals contest with prizes.
		</p>
		<div class = "bold">When?</div>
		<p>ICT holds ACSL contests on Friday B Blocks during 8th periods.  For more information, visit the ACSL website at
			<a href="https://www.acsl.org" target="_blank">acsl.org</a>
		</p>
		<div class = "bold">Where?</div>
		<p>During normal meetings we meet in Curie Commons.  Competitions will 
		usually be held in Ms.Kim's and Mr.Rose's rooms.</p>
		<div class = "bold">Preparation?</div>
		<p>We strongly recommend that you attend our weekly computer team 8th periods for informative lectures and activites.  The 
	officers put a lot of time into lecture problems and materials, and seeing you there makes their job all the more worth it.</p>
	</article>
	</div>
	</div>
</section>

<%- include('partials/footer') %>
</body>
</html>
