<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

<section id="banner">
	<div class="inner">
		<header>
			<h1>Welcome to ICT</h1>
		</header>
	</div>
</section>

<section>
<div class = "inner" >
	<br>
	<div style="font-family:RobotoBlack; font-size:200%;text-align:center">
		Resources
	</div>
	<br>
	<table class="flat-table" border="0" width="100%" style="font-family:RobotoThin; font-size:100%;text-align:center">
    <tbody>
        <tr class="flat-table">
          <td class="bold" class = "flat-table" width="20%">Date of Event</th>
          <td class="bold" class = "flat-table" width="40%">Description</th>
          <td class="bold" class = "flat-table" width="40%">Materials</th>
        </tr>
        <tr class = "flat-table">
          <td class = "flat-table" width="20%">2024-2025</td>
          <td class = "flat-table" width="40%">Lectures, Editorials, Schedule, etc.</td>
          <td class = "flat-table" width="40%"><a href="https://drive.google.com/drive/folders/11DWMeYSvpP131RMc1kdytq2ofvkGiXhw?usp=drive_link" target="_blank">Public Folder</a></td>
        </tr>
        <tr class = "flat-table">
          <td class = "flat-table" width="20%">2023-2024</td>
          <td class = "flat-table" width="40%">Lectures, Editorials, Schedule, etc.</td>
          <td class = "flat-table" width="40%"><a href="https://drive.google.com/drive/folders/1aNbcjefGf8lncTSTRWeu356v25fkbgg_?usp=sharing" target="_blank">Public Folder</a></td>
        </tr>
    </tbody>
  </table>
</div>
</section>

<section>
  <div class="inner">
    <article>
      <div>
        <br><br>
        <h3>
          Important resources for learning:
        </h3>
        <ul><a href="https://usaco.guide" target="_blank">USACO Guide</a></ul>
        <ul><a href="https://usaco.guide/CPH.pdf" target="_blank">Competitive Programmer's Handbook</a></ul>
      </div>
    </article>
  </div>
</section>

<%- include('partials/footer') %>
</body>
</html>
