<footer id="footer">
	<div class="inner">
		<h3>Get In Touch</h3>
		<p>Email tjhsstictcaptains@gmail.com or talk to an offficer (in person or through Facebook) </p>
	</div>
</footer>

<div class="copyright">
    The GitHub repository for this project can be found <a href="https://github.com/Gabriel-Xu/ict-frontend" target="_blank">here</a>, feel free to create pull requests
    <br>
	Website made by: <a href="https://github.com/Gabriel-Xu" target="_blank">Gabriel Xu ('25)</a>
    <br>
</div>
